@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@100;300;400;500;700&display=swap');
@import url(foodcard.css);
@import url(lists.css);

body{
    background-color: #E5E5E5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar {
    display: none;
}
.menu{
    display: grid;
    justify-content: center;
}

